<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor -->
<!-- license agreements; and to You under the Apache License, Version 2.0. -->

<div style="float: left;">
	<h4>Add Vehicles to {{participant.firstName}} {{participant.lastName}}</h4>
</div>
<div style="float: right;">
	<label style="text-align: left; white-space: nowrap;">Show
	<select class="form-control input-sm" style="display: inline-block; width: 60px;" [(ngModel)]="rowsOnPage">
		<option [ngValue]="5">5</option>
		<option [ngValue]="10">10</option>
		<option [ngValue]="15">15</option>
	</select>
	entries
	</label>
</div>
<div class="table-full" style="clear: both;">
	<div class="table-responsive">
		<table class="table" id="vehicleTable" [mfData]="vehicles" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
			<thead>
				<tr>		
					<th><mfDefaultSorter by="id">Vehicle ID</mfDefaultSorter></th>
					<th><mfDefaultSorter by="organization">Organization</mfDefaultSorter></th>
					<th><mfDefaultSorter by="make">Make</mfDefaultSorter></th>
					<th><mfDefaultSorter by="model">Model</mfDefaultSorter></th>
					<th style="text-align: center;">Add</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let v of mf.data">
					<td>{{ v.id }}</td>
					<td>{{ v.organization }}</td>
					<td>{{ v.make }}</td>
					<td>{{ v.model }}</td>
					<td class="tdWithIcon"><span class="icon icon-plus iconAs-link iconAdd" data-toggle="modal" data-target="#myModal" (click)="onSelect(v)"></span></td>	
				</tr>				
			</tbody>
			<tfoot>
		    	<tr>
		        	<td colspan="5">
		            	<mfBootstrapPaginator></mfBootstrapPaginator>		            	
		        	</td>
		    	</tr>
		    </tfoot>
		</table>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add vehicle {{ selectedVehicle.id }} to {{ participant.firstName }} {{ participant.lastName }}</h4>
			</div>
			<div class="modal-body">
				<div class="checkbox custom-control custom-checkbox">
					<label>
					<input type="checkbox" name="isPrimaryVehicle" [(ngModel)]="isPrimaryVehicle">
					<span class="custom-control-indicator"></span>
						Is Primary Vehicle
					</label>
				</div>
			</div>
			<div class="modal-actions">
				<button type="button" class="btn-link modal-action" data-dismiss="modal" (click)="cancel()">Cancel</button>
				<button type="button" class="btn-link modal-action" data-dismiss="modal" (click)="addVehicleToParticipant()">
				<strong>Continue</strong>
				</button>
			</div>
		</div>
	</div>
</div>
<button class="btn btn-primary" [routerLink]="['/participantDetail', participantId, 'tabVehiclesSelect']" style="float: right;">
	Back
</button>