<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor -->
<!-- license agreements; and to You under the Apache License, Version 2.0. -->

<div *ngIf="userVerified">
	<form class="form-horizontal" #setPasswordForm="ngForm" (ngSubmit)="submitForm()">
		<h2>Welcome to the WYDOT CV Resource Manager!</h2>
		<div>Please reset your password</div>
		<div style="text-align: center; clear: both; padding-top: 20px;">			
			<button type="submit" class="btn btn-primary">Reset Password</button>
	  	</div>
	</form>
</div>
<div *ngIf="!userVerified">
	An error has occured authenticating your account. Please contact support.
</div>