<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor -->
<!-- license agreements; and to You under the Apache License, Version 2.0. -->

<div class="hr-divider" style="margin-bottom: 20px;">
	<ul class="nav nav-pills hr-divider-content hr-divider-nav">
		<li class="active" *ngIf="auth.canEditEquipmentData()">
			<h4 style="text-transform: initial; margin-top: 10px;" *ngIf="equipment.equipmentId == null">Add New Equipment</h4>  
			<button class="btn btn-primary btn-pill" style="border: none;" (click)="tabEquipmentSelect()" *ngIf="equipment.equipmentId != null && !tabComponents">Edit Equipment</button> 
			<button class="btn btn-blank" (click)="tabEquipmentSelect()" *ngIf="equipment.equipmentId != null && tabComponents">Edit Equipment</button> 
		</li>
		<li class="active" *ngIf="!auth.canEditEquipmentData()">			
			<button class="btn btn-primary btn-pill" style="border: none;" (click)="tabEquipmentSelect()" *ngIf="equipment.equipmentId != null && !tabComponents">View Equipment</button> 
			<button class="btn btn-blank" (click)="tabEquipmentSelect()" *ngIf="equipment.equipmentId != null && tabComponents">View Equipment</button> 
		</li>
		<li *ngIf="equipment.equipmentId != null">
			<button *ngIf="!tabComponents" class="btn btn-blank" (click)="tabComponentsSelect()">Components</button> 
			<button *ngIf="tabComponents" class="btn btn-primary btn-pill" style="border: none;" (click)="tabComponentsSelect()">Components</button>
		</li>
	</ul>
</div>
<div *ngIf="!tabComponents">
	<form class="form-horizontal" #equipmentDetailForm="ngForm" (ngSubmit)="submitForm()">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label col-sm-4">Description:<span style="color: red;">*</span></label>
				<div class="col-sm-8">
					<input class="form-control" [(ngModel)]="equipment.description" name="description" required maxlength="255"
					[disabled]="!auth.canEditEquipmentData()">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Asset ID:<span style="color: red;">*</span></label>
				<div class="col-sm-8"> 
			  		<input class="form-control" [(ngModel)]="equipment.assetId" name="assetId" required maxlength="255" 
			  		[disabled]="!auth.canEditEquipmentData()">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Equipment Type:<span style="color: red;">*</span></label>
				<div class="col-sm-8"> 
					<select class="form-control" [(ngModel)]="equipment.equipmentTypeId" name="equipmentTypeId" required
					[disabled]="!auth.canEditEquipmentData()">
				      <option *ngFor="let e of equipmentTypes" [ngValue]="e.equipmentTypeId">{{ e.equipmentType }}</option>
		  			</select>
				</div>
			</div>
		     
			<div class="form-group">
				<label class="control-label col-sm-4">Serial Number:<span style="color: red;">*</span></label>
				<div class="col-sm-8"> 
			  		<input class="form-control" [(ngModel)]="equipment.serialNumber" name="serialNumber" required maxlength="255"
			  		[disabled]="!auth.canEditEquipmentData()">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Model Number:</label>
				<div class="col-sm-8">
					<input class="form-control" [(ngModel)]="equipment.modelNumber" name="modelNumber" type="Number"
					[disabled]="!auth.canEditEquipmentData()">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Date Installed:</label>
				<div class="col-sm-4"> 
					<input type="date" class="form-control" [(ngModel)]="equipment.dateInstalled" name="dateInstalled" 
					[disabled]="!auth.canEditEquipmentData()"/>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<label class="control-label col-sm-4">RSU Details</label>
			<div class="form-group" style="clear: both;">
				<label class="control-label col-sm-4">WAN:</label>
				<div class="col-sm-8"> 
			  		<input class="form-control" [(ngModel)]="equipment.wan" name="wan" maxlength="255"
			  		[disabled]="!auth.canEditEquipmentData()">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Latitude:</label>
				<div class="col-sm-8"> 
			  		<input class="form-control" [(ngModel)]="equipment.latitude" name="latitude"
			  		[disabled]="!auth.canEditEquipmentData()">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Longitude:</label>
				<div class="col-sm-8"> 
			  		<input class="form-control" [(ngModel)]="equipment.longitude" name="longitude"
			  		[disabled]="!auth.canEditEquipmentData()">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Elevation:</label>
				<div class="col-sm-8"> 
			  		<input class="form-control" [(ngModel)]="equipment.elevation" name="elevation" maxlength="255"
			  		[disabled]="!auth.canEditEquipmentData()">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Height:</label>
				<div class="col-sm-8"> 
			  		<input class="form-control" [(ngModel)]="equipment.height" name="height" maxlength="255"
			  		[disabled]="!auth.canEditEquipmentData()">
				</div>
			</div>

		</div>
		<div style="clear: both;" class="col-sm-12">
			<div class="form-group">
				<label class="control-label col-sm-2">Notes:</label>
				<div class="col-sm-10"> 
			  		<textarea class="form-control" [(ngModel)]="equipment.notes" name="model" rows="4"
			  		[disabled]="!auth.canEditEquipmentData()"></textarea>			  	
				</div>			
			</div>	
		</div>
		<div style="text-align: center; clear: both;">			
			<button type="submit" class="btn btn-primary" *ngIf="auth.canEditEquipmentData()">Save</button>
			<button type="cancel" class="btn btn-default" routerLink="/equipment" *ngIf="auth.canEditEquipmentData()">Cancel</button>
			<button type="cancel" class="btn btn-default" routerLink="/equipment" *ngIf="!auth.canEditEquipmentData()">Back</button>	
	  	</div>
	</form>
</div>

<div *ngIf="tabComponents">
	<equipment-component-list [equipmentId]="equipment.equipmentId"></equipment-component-list>
</div>


